@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: "Bai Jamjuree", sans-serif;
    font-style: normal;
    font-size: 18px;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body{
    @apply overflow-x-hidden
  }

  h1{
    @apply text-Dark-Grayish-Blue font-semibold lg:text-5xl md:text-3xl text-2xl py-5 text-center
  }

  h2{
    @apply text-Dark-Grayish-Blue font-semibold lg:text-3xl md:text-2xl text-xl text-center py-5
  }

  h3{
    @apply text-Dark-Grayish-Blue font-semibold lg:text-xl md:text-lg text-base py-5
  }


}

.btnDownload{
  @apply text-white rounded-full px-16 md:px-5 py-3 font-semibold border-b-2 shadow-2xl hover:bg-opacity-70 transition-all duration-200
}

.subHeading{
  @apply text-Grayish-Blue max-w-2xl md:w-3/4 text-sm text-center mx-auto
}

#hero{
  background-image: url('./assets/images/backgrounds/bg-header-mobile.png');
}

@media (min-width: 768px){
  #hero{
    background-image: url('./assets/images/backgrounds/bg-header-desktop.png');
  }
}